VITE_SUPABASE_URL=https://enlvlqidrbmsxbdtgwgw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVubHZscWlkcmJtc3hiZHRnd2d3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2MjU4MzQsImV4cCI6MjA5MDIwMTgzNH0.rgpsd7YRsY6jwNaAQEDH2NuLGlDCLcPWQ40RCEs_I0Y
